<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Deleted cat:</h1>
<p th:text="'id: ' + ${cat.id}" />
<p th:text="'name: ' + ${cat.name.getName()}" />
<p th:text="'breed: ' + ${cat.breed.getBreed()}" />
<p th:text="'color: ' + ${cat.color}" />
<p th:text="'date of birth: ' + ${cat.dateOfBirth}" />
<p th:text="'owner id: ' + ${cat.ownerId}" />
<a href="/">Main page</a>
<a href="/cats">All cats</a>
<a href="/cats/delete">Delete another cat</a>
</body>
</html>