<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/cats/change_owner}" th:object="${cat}" method="post">
    <p>Id first cat: <label>
        <input type="number" th:field="*{cat1.id}" />
    </label></p>
    <p>Id second cat: <label>
        <input type="number" th:field="*{cat2.id}" />
    </label></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>